
/**
* Ionic Full App  (https://store.enappd.com/product/ionic-full-app)
*
* Copyright © 2020-present Enappd. All rights reserved.
*
* This source code is licensed as per the terms found in the
* LICENSE.md file in the root directory of this source tree.
*/
ion-content {
  --background: var(--ion-color-step-100);
}

ion-card {
  background: var(--ion-color-light);
}

ion-card-title {
  margin-top: 2px;
  font-size: 22px;
}

.marginBottom {
  margin-bottom: 25px;
}
