/**
* Ionic Full App  (https://store.enappd.com/product/ionic-full-app)
*
* Copyright © 2020-present Enappd. All rights reserved.
*
* This source code is licensed as per the terms found in the
* LICENSE.md file in the root directory of this source tree.
*/

#map {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  agm-map {
    height: calc(100vh - 108px);
  }
  
  agm-map {
    .gm-svpc {
      display: none;
    }
  }
  
  .gmnoprint {
    display: none !important;
  }