/**
* Ionic Full App  (https://store.enappd.com/product/ionic-full-app)
*
* Copyright © 2020-present Enappd. All rights reserved.
*
* This source code is licensed as per the terms found in the
* LICENSE.md file in the root directory of this source tree.
*/
ion-slides {
  height: 100%;
  .btnSubmit {
    --border-radius: 7px;
  }

  .slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    color: #fff;

    img {
      max-width: 150px;
    }
  }

  .skip-button {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .ion-color-light {
    --color: white !important;
  }
  .slide0 {
    --background: var(--ion-color-light);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    img {
      max-width: 150px;
    }
  }
  .hint {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
  }
}
