<ion-content class="ion-no-padding">
  <div class="main">
    <div class="logo title-color">
      YOUR TITLE
    </div>
    <div class="sub-text-1">
      Login instantly with
    </div>
    <div class="social">
      <ion-button expand="block" fill="clear">
        <img src="assets/icon/fb.png" />
      </ion-button>
      <ion-button expand="block" fill="clear">
        <img src="assets/icon/google.png" />
      </ion-button>
    </div>
    <div class="sub-text-2">
      OR
    </div>
    <div class="email">
      <ion-label>Email</ion-label>
      <ion-input clearInput type="text" placeholder="Email">
      </ion-input>
    </div>
    <div class="password ion-margin-top">
      <ion-label>Password</ion-label>
      <ion-input clearInput type="password" placeholder="Password">
      </ion-input>
    </div>
    <div class="sub-text-3 ion-margin-top">
      <div class="check">
        <ion-checkbox></ion-checkbox> Remember me
      </div>
      <div class="forgot" (click)="gotoMain()">Forgot Password ?</div>
    </div>
    <ion-label class="ion-margin-top">Account Type</ion-label>
    <div class="radio-section ">

      <ion-radio-group value="business">
        <ion-item>
          <ion-label>Business</ion-label>
          <ion-radio slot="start" value="business"></ion-radio>
        </ion-item>
        <ion-item fill="clear">
          <ion-label>Personal</ion-label>
          <ion-radio slot="start" value="personal"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </div>
    <div class="button ion-margin-top">
      <ion-button expand="block" class="login-button" (click)="gotoMain()">Login</ion-button>
    </div>
    <div class="sub-text-4 ion-margin-top">
      <ion-text>Don't have an account?</ion-text>
      <ion-text class="link ion-padding-start">Signup here</ion-text>
    </div>
  </div>
</ion-content>