:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}

.swiper-slide {
  display: block;
}

ion-slide > h2 {
  margin-top: 2.8rem;
}

ion-slide > img {
  max-height: 50%;
  max-width: 60%;
  margin: 36px 0;
}

ion-slides {
  height: 100%;
}

.slide-image {
  max-height: 50%;
  max-width: 60%;
  margin: 36px 0;
}

.slide-title {
  font-weight: 300;
  margin-top: 2.8rem;
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: #60646B;

  b {
    color: #000000;
  }
}
