/**
* Ionic Full App  (https://store.enappd.com/product/ionic-full-app)
*
* Copyright © 2020-present Enappd. All rights reserved.
*
* This source code is licensed as per the terms found in the
* LICENSE.md file in the root directory of this source tree.
*/
.white {
  color: white !important;
}

.slide {
  width: 100%;
}

.cart-button {
  position: relative;
  width: 40px;

  #cart-badge {
    background: #fff;
    color: #3880ff;
    border-radius: 45px;
    width: 20px;
    height: 20px;
    top: -5px;
    position: absolute;
    left: 20px;
  }
}

.text {
  font-size: 12px;
}

.light-bg {
  background: #f4f5f8;
}

.foot-highlight {
  color: orange;
  display: inline-block;
  margin: auto;
  margin-left: 9px;
}

.footer {
  background-color: rgb(12, 12, 12);
  color: rgb(210, 210, 210);
}

.foot-btn {
  width: 100%;
}

.spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
