<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="logo">
        <img src="assets/imgs/fire.png" class="img-logo">
    </div>

    <div id="recaptcha-container"></div>

    <!-- <ion-row class="row-section">

        Phone Number Signin

        <div id="recaptcha-container"></div>

        <ion-item>
            <ion-label stacked>Phone Number</ion-label>
            <ion-input type="number" [(ngModel)]="phoneNumber"></ion-input>
        </ion-item>

        <button ion-button id="sign-in-button" (click)="signIn(phoneNumber)">
            Sign In
        </button>

    </ion-row> -->


    <form #loginForm="ngForm" novalidate>
        <ion-list class="ion-padding">
            <ion-item>
                <ion-label position="stacked" color="primary">Email</ion-label>
                <ion-input [(ngModel)]="login.email" name="email" type="email" #email="ngModel" spellcheck="false"
                    autocapitalize="off" placeholder="test@user.com" required>
                </ion-input>
            </ion-item>
            <ion-text [hidden]="email.valid || submitted == false" color="danger" class="ion-padding-start">
                Email is required
            </ion-text>

            <ion-item>
                <ion-label position="stacked" color="primary">Password</ion-label>
                <ion-input [(ngModel)]="login.password" name="password" type="password" #password="ngModel" required
                    placeholder="password">
                </ion-input>
            </ion-item>
            <ion-text [hidden]="password.valid || submitted == false" color="danger" class="ion-padding-start">
                Password is required
            </ion-text>
        </ion-list>
        <p class="ion-padding-start ion-padding-end ion-margin-start">
            <ion-text>
                <small>
                    Use <code>test@user.com</code> with password <code>password</code> or create a new account.
                </small>
            </ion-text>
        </p>
        <p class="ion-padding ion-margin-start">
            <ion-text color="danger">
                {{loginError}}
            </ion-text>
        </p>

        <ion-row responsive-sm class="ion-padding">
            <ion-col>
                <ion-button (click)="onLogin(loginForm)" type="submit" expand="block">Login</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="onSignup()" color="light" expand="block">Signup</ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
              <ion-text  color="medium" (click)="forgotPassword()" class="ion-float-end">
                <h6  class="small-text ion-no-margin ion-text-end">Forgot Password?</h6>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="block" (click)="signin()" color="undefined" class="btn-transition"><strong
                  class="white-color">Sign In</strong></ion-button>
            </ion-col>
          </ion-row>
          <div class="line"></div>
          <ion-row>
            <ion-col>
              <ion-button expand="block" fill="outline" color="undefined" (click)="util.navigate('signup')"
                class="btn-color"><strong>New? Create an Account</strong></ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <facebook-login (accessToken)="facebookLogin($event)"></facebook-login>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <twitter-login (accessToken)="twitterLogin($event)"></twitter-login>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <google-login (accessToken)="googleLogin($event)"></google-login>
            </ion-col>
          </ion-row>
    </form>
</ion-content>
