<ion-app>
    <ion-split-pane contentId="main-content">

        <ion-menu menuId="appMenu" contentId="main-content" type="overlay" class="left-menu" side="start">
            <ion-header class="head">
                <div class="enappd-header" (click)="goToLanding()">
                    <div class="logo">
                        <img src="assets/logo-ionic-white.png" />
                    </div>
                    <div class="title">monthlyrepeat.com</div>
                    <div class="subtitle">Live Lazy (Online: {{(online$|async)}} )</div>
                </div>
            </ion-header>
            <ion-content>
                <ion-list-header>
                    <ion-label></ion-label>
                </ion-list-header>
                <ion-list>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item button *ngFor="let p of appPages" routerDirection="root" [routerLink]="p.path">
                            <ion-icon slot="start" [name]="p.icon" routerLinkActive="active-link"></ion-icon>
                            {{p.title}}
                        </ion-item>

                        <ion-list-header>
                            <ion-label>Account</ion-label>
                        </ion-list-header>

                        <ion-item button *ngIf="isLoggedIn" routerDirection="root" routerLink="tabs/profile">
                            <ion-icon slot="start" name="person" routerLinkActive="active-link"></ion-icon>
                            Profile
                            (Admin: {{userDataService?.isAdmin}})
                        </ion-item>

                        <ion-item button *ngIf="isLoggedIn" (click)="logout()">
                            <ion-icon slot="start" name="log-out"></ion-icon>
                            Logout
                        </ion-item>

                        <ion-item button *ngIf="!isLoggedIn" routerDirection="root" routerLink="login">
                            <ion-icon slot="start" name="person" routerLinkActive="active-link"></ion-icon>
                            Login
                        </ion-item>

                    </ion-menu-toggle>
                </ion-list>

            </ion-content>
        </ion-menu>

        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>