<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Sponsors</ion-title>
    </ion-toolbar>

    <ion-toolbar color="primary">
        <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateSponsors()" placeholder="Search"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item button detail="false" *ngFor="let sponsor of sponsors" (click)="goToSponsorDetail(sponsor)">
            <ion-avatar slot="start">
                <img [src]="sponsor.logo">
            </ion-avatar>
            <ion-label>
                <h2>{{sponsor.name}}</h2>
                <p>{{sponsor.slogan}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
