
/**
* Ionic Full App  (https://store.enappd.com/product/ionic-full-app)
*
* Copyright © 2020-present Enappd. All rights reserved.
*
* This source code is licensed as per the terms found in the
* LICENSE.md file in the root directory of this source tree.
*/
.muli {
    font-size: 24px;
  }
  
  .srisakdi {
    font-size: 24px;
  }
  
  .qranklestein {
    font-size: 24px;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .semi-bold {
    font-weight: 500;
  }
  
  .light {
    font-weight: 400;
  }
  
  .extra-light {
    font-weight: 100;
  }
  
  .italic {
    font-style: italic;
  }
  
  .row-header {
    border-bottom: 1px solid #ddd;
  }
  